* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Segoe UI", sans-serif;
  min-height: 100vh;
  background: linear-gradient(
    135deg,
    #0f172a,
    #1e3a8a,
    #2563eb
  );
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  width: 95%;
  max-width: 850px;
  margin: 40px auto;
}

h1 {
  text-align: center;
  color: white;
  margin-bottom: 30px;
  font-size: 2.5rem;
  font-weight: 700;
}

.card {
  background: rgba(255, 255, 255, 0.15);
  backdrop-filter: blur(15px);
  border: 1px solid rgba(255,255,255,0.2);
  border-radius: 20px;
  padding: 25px;
  margin-bottom: 25px;
  box-shadow: 0 8px 30px rgba(0,0,0,0.3);
  transition: 0.3s ease;
}

.card:hover {
  transform: translateY(-3px);
}

.card h2 {
  color: white;
  margin-bottom: 15px;
}

input {
  width: 100%;
  padding: 14px;
  border: none;
  border-radius: 12px;
  outline: none;
  font-size: 16px;
  margin-bottom: 15px;
}

button {
  border: none;
  cursor: pointer;
  padding: 12px 20px;
  border-radius: 12px;
  font-size: 15px;
  font-weight: 600;
  transition: all 0.3s;
}

button:hover {
  transform: scale(1.05);
}

.add-btn {
  background: linear-gradient(
    45deg,
    #10b981,
    #22c55e
  );
  color: white;
}

.patient-item {
  background: rgba(255,255,255,0.2);
  color: white;
  padding: 15px;
  border-radius: 12px;
  margin-top: 12px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.patient-info {
  display: flex;
  align-items: center;
  gap: 12px;
}

.patient-number {
  width: 35px;
  height: 35px;
  background: white;
  color: #2563eb;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
}

.delete-btn {
  background: linear-gradient(
    45deg,
    #ef4444,
    #dc2626
  );
  color: white;
}

.empty {
  text-align: center;
  color: white;
  padding: 25px;
  font-size: 18px;
}

.stats {
  text-align: center;
  color: white;
  margin-bottom: 20px;
  font-size: 18px;
  font-weight: 600;
}

.footer {
  text-align: center;
  color: rgba(255,255,255,0.7);
  margin-top: 20px;
}